<hr/>

<footer class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/">
                    <i class="fas fa-home"></i>
                    <span class="md-display">Home</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/notes/spring">
                    <i class="fa-solid fa-flower-tulip"></i>
                    <span class="md-display">Spring Jobs</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/notes/summer">
                    <i class="fab fa-github"></i>
                    <span class="md-display">Summer Jobs</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/notes/autumn">
                    <i class="fas fa-paper-plane"></i>
                    <span class="md-display">Autumn Jobs</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/notes/winter">
                    <i class="fas fa-code"></i>
                    <span class="md-display">Winter Jobs</span>
                </a>
            </li>
        </ul>
    </div>
</footer>
